@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

svg {
    height: 22px;
    width: 22px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #4B3953;
}

::-webkit-scrollbar-thumb {
    background: #C66E2F;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #b16229;
}